.add-product-page {
  min-height: 100vh;
}

.product-form {
  border-radius: 5px;
  background: white;
  width: 100%;
  max-width: 100%;
  padding: 10px;
}

.product-form h3 {
  text-align: center;
  margin-bottom: 20px;
}

.product-form input,
.product-form textarea,
.product-form select {
  width: 100%;
  padding: 7px;
  margin-bottom: 14px;
  border-radius: 8px;
  border: 1px solid #ddd;
}
.product-form input:focus{
  outline: none;
  border: 1px solid  rgb(192, 223, 54);
}
.product-form textarea:focus{
  outline: none;
  border: 1px solid  rgb(192, 223, 54);
}
.product-form select:focus{
   outline: none;
  border: 1px solid  rgb(192, 223, 54);
}

.row {
  display: flex;
  gap: 10px;
  padding: 10px;
}

.product-form button {
  width: 100%;
  padding: 10px;
  background: linear-gradient(135deg,  rgb(192, 223, 54), rgb(139, 159, 50));
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-confirm) {
   background-color:  rgb(192, 223, 54) !important;
}