.order-page {
  padding: 20px;
}

.table-wrapper {
  overflow-x: auto;
}

.order-table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
}

.order-table th,
.order-table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.order-table th {
    background: #2D3C59;
    border-radius: 4px;
  color: #fff;
}

.eye-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

/* STATUS */
/* STATUS */
.status {
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
  text-transform: capitalize;
}

.status.pending {
  background: #fff3cd;
  color: #856404;
}

.status.approved {
  background: #d4edda;
  color: #155724;
}

.status.rejected {
  background: #f8d7da;
  color: #721c24;
}

/* ACTION BUTTONS */
.action-buttons {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.eye-btn,
.approve-btn,
.reject-btn {
  width: 34px;
  height: 34px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.eye-btn {
  background: #e3f2fd;
  color: #0d6efd;
}

.approve-btn {
  background: #d4edda;
  color: #155724;
}

.reject-btn {
  background: #f8d7da;
  color: #721c24;
}

/* PAGINATION */
.pagination {
  margin-top: 15px;
}

.pagination button {
  margin-right: 5px;
  padding: 6px 10px;
  cursor: pointer;
}

.pagination .active {
  background: #111827;
  color: white;
}


/* model css */
/* Modal Body Scroll */
.modal-body {
  max-height: 70vh;
  overflow-y: auto;
  padding: 20px;
  font-family: 'Arial', sans-serif;
}

/* Customer Info */
.customer-info h6 {
  font-weight: 600;
  margin-bottom: 10px;
  color: #333;
}

.customer-info p {
  margin: 3px 0;
  font-size: 14px;
  color: #555;
}

/* Product Table */
.table-responsive {
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.table th,
.table td {
  padding: 10px;
  text-align: left;
  vertical-align: middle;
}

.table th {
  background-color: #f8f9fa;
  font-weight: 600;
}

.table tbody tr {
  border-bottom: 1px solid #eaeaea;
}

.table tbody tr:hover {
  background-color: #f5f5f5;
}

/* Product Images */
.product-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 4px;
}

/* Total Amount */
.total-amount h6 {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

/* Scrollbar */
.modal-body::-webkit-scrollbar {
  width: 6px;
}

.modal-body::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 3px;
}

.modal-body::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
