.brand{
    color: rgb(192, 223, 54);
}
.box{
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}
.benifit-img{
    animation: zoom 3s infinite;
    width: 30%;
}

@keyframes zoom {
    0%{
      transform: scale(0);
    }
    100%{
      transform: scale(1.0);
    }
}