.cart-offcanvas {
  position: fixed;
  top: 0;
  right: -350px;
  width: 350px;
  height: 100vh;
  background: #fff;
  transition: 0.4s ease;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.cart-offcanvas.show {
  right: 0;
}

/* Overlay */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999;
}


.cart-header {
  background-color: rgb(192, 223, 54);
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-close-btn {
  border: 1px solid black;
  background: none;
  border-radius: 50%;
  width: 28px;
  height: 28px;
}

.cart-body {
  flex: 1;
  overflow-y: scroll;
  padding: 10px;
}
.cart-body::-webkit-scrollbar{
     display: none;
}
.cart-container {
  margin-bottom: 12px;
}

.cart-bg {
  border: 1px solid rgb(192, 223, 54);
  border-radius: 8px;
}
.fa-trash{
    color: rgb(192, 223, 54);
}

.qty-box {
  background-color: rgb(192, 223, 54);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 16px;
  width: 120px;
  border-radius: 50px;
}

.qty-btn {
  background: none;
  border: none;
  font-size: 18px;
}


.cart-footer {
  padding: 12px;
  border-top: 1px solid #ddd;
  gap: 10px;
}

.cart-footer button {
  width:100%;
  padding: 10px;
  border-radius: 6px;
  border: none;
}

.checkout-btn {
  background:rgb(192, 223, 54) ;
  color: white;
}
