 .video-container .swiper-wrapper{
    width:100%;
    height: 350px;
}
.video-section video{
    width: 100%;
    height: 100%;
    border-top-left-radius: 70px !important;
    border-top-right-radius: 70px !important;
}
.video-container .swiper-button-next,.swiper-button-prev{
    display: none;
}
@media (max-width:560px) {
    .video-container .swiper-wrapper{
    width:100%;
    height:600px;
}
}